<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nshane.picstore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataFormatActivity"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".ui.ServiceActivity"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.DownLoadActivity"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".ui.FeedbackActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:enabled="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!--android:configChanges=""
        When a configuration change occurs at runtime,
        the activity is shut down and restarted by default,
        but declaring a configuration with this attribute will prevent the activity from being restarted.
        Instead, the activity remains running and its onConfigurationChanged() method is called.-->

        <activity
            android:name=".ui.ConstraintActivity"
            android:enabled="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ToolbarActivity"
            android:enabled="true"
            android:exported="false" />
        <activity android:name=".ui.ImmersiveActivity" />

        <activity
            android:name=".ui.RXJavaActivity"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".ui.RXRetrofitActivity"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.RetrofitActivity"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.PopWindowActivity"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.FlashAnimActivity"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>